<div class="container-fluid">
    <div class="row">
        <div class=" menuTesting">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading " data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <h4 class="panel-title">
                            <div class="menuTitle">
                                <div class="heading">
                                    <img src="https://tungtung.vn/static/images/home/work.png" alt="" height="20"
                                        width="20" class="rounded-circle">
                                    <span class="accordion-toggle title">
                                        Làm đề
                                    </span>
                                </div>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in show">
                        <div class="panel-body">
                            <a [routerLink]="[ '/testing-suggest' ]">
                                <div class="subMenu">
                                    <img src="https://tungtung.vn/static/images/home/suggestion.png" alt="" height="20"
                                        width="20" class="rounded-circle">
                                    <span class="accordion-toggle titleSubMenu">
                                        Đề gợi ý
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="panel-body">
                            <a [routerLink]="[ '/testing-save' ]">
                                <div class="subMenu">
                                    <img src="https://tungtung.vn/static/images/home/saved.png" alt="" height="20"
                                        width="20" class="rounded-circle">
                                    <span class="accordion-toggle titleSubMenu">
                                        Đề đã lưu
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="subMenu">
                                <img src="https://tungtung.vn/static/images/home/playing.png" alt="" height="20"
                                    width="20" class="rounded-circle">
                                <span class="accordion-toggle titleSubMenu">
                                    Đề đang làm
                                </span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="subMenu">
                                <img src="https://tungtung.vn/static/images/home/creating-test.png" alt="" height="20"
                                    width="20" class="rounded-circle">
                                <span class="accordion-toggle titleSubMenu">
                                    Lịch sử làm bài
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading " data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <h4 class="panel-title">
                            <div class="menuTitle">
                                <div class="heading">
                                    <img src="https://tungtung.vn/static/images/home/histories.png" alt="" height="20"
                                        width="20" class="rounded-circle">
                                    <span class="accordion-toggle title">
                                        Tạo đề
                                    </span>
                                </div>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="subMenu">
                                <img src="https://tungtung.vn/static/images/home/create-new.png" alt="" height="20"
                                    width="20" class="rounded-circle">
                                <span class="accordion-toggle titleSubMenu">
                                    Tạo đề mới
                                </span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="subMenu">
                                <img src="https://tungtung.vn/static/images/home/created.png" alt="" height="20"
                                    width="20" class="rounded-circle">
                                <span class="accordion-toggle titleSubMenu">
                                    Quản lý đề
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading " data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <h4 class="panel-title">
                            <div class="menuTitle">
                                <div class="heading">
                                    <img src="https://tungtung.vn/static/images/home/playlist.png" alt="" height="20"
                                        width="20" class="rounded-circle">
                                    <span class="accordion-toggle title">
                                        Bộ sưu tập
                                    </span>
                                </div>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="subMenu">
                                <img src="https://tungtung.vn/static/images/home/create-new.png" alt="" height="20"
                                    width="20" class="rounded-circle">
                                <span class="accordion-toggle titleSubMenu">
                                    Khám phá
                                </span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="subMenu">
                                <img src="https://tungtung.vn/static/images/home/playlist-create.png" alt="" height="20"
                                    width="20" class="rounded-circle">
                                <span class="accordion-toggle titleSubMenu">
                                    Tạo mới
                                </span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="subMenu">
                                <img src="https://tungtung.vn/static/images/home/created-playlist.png" alt=""
                                    height="20" width="20" class="rounded-circle">
                                <span class="accordion-toggle titleSubMenu">
                                    BST đã tạo
                                </span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="subMenu">
                                <img src="https://tungtung.vn/static/images/home/playlist-saved.png" alt="" height="20"
                                    width="20" class="rounded-circle">
                                <span class="accordion-toggle titleSubMenu">
                                    BST đã lưu
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- 
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="panel-heading " data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <h4 class="panel-title">
                <div class="menuTitle">
                    <div class="heading">
                        <img src="https://tungtung.vn/static/images/home/work.png" alt="" height="20" width="20"
                            class="rounded-circle">
                        <span class="accordion-toggle title">
                            Làm đề
                        </span>
                    </div>
                    <i class="fas fa-chevron-up"></i>
                </div>
            </h4>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="panel-body">
                    <div class="subMenu">
                        <img src="https://tungtung.vn/static/images/home/suggestion.png" alt="" height="20" width="20"
                            class="rounded-circle">
                        <a href="/testing-suggest">
                            <span class="accordion-toggle titleSubMenu" id="testing-1">
                                Đề gợi ý
                            </span>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="subMenu">
                        <img src="https://tungtung.vn/static/images/home/saved.png" alt="" height="20" width="20"
                            class="rounded-circle">
                        <a href="/testing-save">
                            <span class="accordion-toggle titleSubMenu" id="testing-2">
                                Đề đã lưu
                            </span>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="subMenu">
                        <img src="https://tungtung.vn/static/images/home/playing.png" alt="" height="20" width="20"
                            class="rounded-circle">
                        <a href="/testing-todo" id="testing-3">
                            <span class="accordion-toggle titleSubMenu">
                                Đề đang làm
                            </span>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="subMenu">
                        <img src="https://tungtung.vn/static/images/home/creating-test.png" alt="" height="20"
                            width="20" class="rounded-circle">
                        <a href="/testing-history" id="testing-4">
                            <span class="accordion-toggle titleSubMenu">
                                Lịch sử làm bài
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="panel-heading " data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <h4 class="panel-title">
                <div class="menuTitle">
                    <div class="heading">
                        <img src="https://tungtung.vn/static/images/home/histories.png" alt="" height="20" width="20"
                            class="rounded-circle">
                        <span class="accordion-toggle title">
                            Tạo đề
                        </span>
                    </div>
                    <i class="fas fa-chevron-up"></i>
                </div>
            </h4>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="panel-body">
                <div class="subMenu">
                    <img src="https://tungtung.vn/static/images/home/create-new.png" alt="" height="20" width="20"
                        class="rounded-circle">
                    <a href="/testing-create-collection" id="testing-5">
                        <span class="accordion-toggle titleSubMenu">
                            Tạo đề mới
                        </span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="subMenu">
                    <img src="https://tungtung.vn/static/images/home/created.png" alt="" height="20" width="20"
                        class="rounded-circle">
                    <a href="/testing-manage-exam" id="testing-6">
                        <span class="accordion-toggle titleSubMenu">
                            Quản lý đề
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h4 class="panel-title">
                <div class="menuTitle">
                    <div class="heading">
                        <img src="https://tungtung.vn/static/images/home/playlist.png" alt="" height="20" width="20"
                            class="rounded-circle">
                        <span class="accordion-toggle title">
                            Bộ sưu tập
                        </span>
                    </div>
                    <i class="fas fa-chevron-up"></i>
                </div>
            </h4>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="panel-body">
                <div class="subMenu">
                    <img src="https://tungtung.vn/static/images/home/playlist-create.png" alt="" height="20" width="20"
                        class="rounded-circle">
                    <a href="/testing-create-collection" id="testing-7">
                        <span class="accordion-toggle titleSubMenu">
                            Tạo mới
                        </span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="subMenu">
                    <img src="https://tungtung.vn/static/images/home/created-playlist.png" alt="" height="20" width="20"
                        class="rounded-circle">
                    <a href="/testing-collection" id="testing-8">
                        <span class="accordion-toggle titleSubMenu">
                            BST đã tạo
                        </span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="subMenu">
                    <img src="https://tungtung.vn/static/images/home/playlist-saved.png" alt="" height="20" width="20"
                        class="rounded-circle">
                    <a href="/testing-saved-collection" id="testing-9">
                        <span class="accordion-toggle titleSubMenu">
                            BST đã lưu
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->