<div style="height: 8%;">
    <div class="header">
        <div style="height: 100%; width: 80px;">
            <img src="../../../../assets/images/gama-logo_white.png" class="img-header">
        </div>
        <h2 class="title">
            GAMA-Platform
        </h2>
        <div class="user-name">
            <p>
                <i class="fa fa-user" aria-hidden="true"></i> {{username}}
            </p>
        </div>
        <div>
            <p class="sign-out" (click)="logout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>Log Out
            </p>
        </div>
    </div>
</div>