<div class="row" style="height: 100%; width: 100%; overflow: hidden;">
    <div class="col-md-12">
        <div style="height: 100%;">
            <div class="header">
                <div style="height: 100%; width: 80px;">
                    <img src="../../../assets/images/gama-logo_white.png" class="img-header">
                </div>
                <h2 style="color: #fff; margin-top: unset; width: 80%;">
                    GAMA-Platform
                </h2>
                <div style="width: 10%; margin-right: 10px;">
                    <span class="project-name">{{projectName}}</span>
                </div>
                <div (click)="backToHome()" style="cursor: pointer;">
                    <img src="../../../assets/images/homepage.png" style="width: 30px;">
                </div>
            </div>
            <div class="top" style="display: flex; align-items: center;">
                <div style="width: 5%;">
                    <a href="">
                        <img class="img-top" src="../../../assets/images/1.svg" alt="">
                    </a>
                </div>
                <div style="width: 25%;">
                    <button class="simulation">
                        Simulation
                    </button>
                </div>
                <div style="width: 45%;">
                    <div class="div-control">
                        <div class="div-next" style="border: none;">
                            <a href="javascript:void(0)" (click)="runFile()" *ngIf="!isRunFile">
                                <img src="../../../assets/images/3.svg" alt="" class="play-control">
                            </a>
                            <a href="javascript:void(0)" (click)="stopFile()" *ngIf="isRunFile">
                                <img src="../../../assets/images/pause.svg" alt="" class="play-control">
                            </a>
                        </div>
                        <div class="div-next">
                            <a href="">
                                <img src="../../../assets/images/icons8-next-page-40.png" alt="" class="play-control">
                            </a>
                        </div>
                        <div class="final-step">
                            <input type="range" id="input-range" (input)="setFinalStep(finalStep.value)" #finalStep [ngModel]="fileSelected?.finalStep" name="points" min="0" max="500">
                            <span class="step-value">{{fileSelected?.finalStep}}</span>
                        </div>
                        <div class="div-next">
                            <a href="javascript:void(0)" (click)="resetFinalStepValue()">
                                <img src="../../../assets/images/icons8-reset-50.png" alt="" class="play-control">
                            </a>
                        </div>
                        <div class="div-next">
                            <a href="">
                                <img src="../../../assets/images/icons8-close-window-100.png" alt="" class="play-control">
                            </a>
                        </div>
                    </div>
                </div>
                <div style="width: 25%;">
                    <div style="width: 100%; height: 80%;">
                        <input type="text" class="input-search" placeholder="Search">
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: row;height: 98%;
                width: 100%; margin-top: 4px; border: solid 1px #000;">
                <div style="height: 100%; width: 30%;">
                    <div style="height: 60%;">
                        <div class="nav nav-tabs">
                            <div class="nav-item nav-item1" [ngStyle]="{'background': isOpenGraph ? '#fff' : '', 'border-bottom': isOpenGraph ? 'none' : ''}">
                                <div style="display: flex; align-items: center;">
                                    <img src="../../../assets/images/icons8-menu-100.png" alt="" class="model-tab ">
                                    <label (click)="openGraph()" for="" style="margin-left: 10px; cursor: pointer;">Model / Experiment Graph</label>
                                </div>
                            </div>
                            <div class="nav-item nav-item2" [ngStyle]="{'background': isOpenModel ? '#fff' : '', 'border-bottom': isOpenModel ? 'none' : ''}">
                                <div style="display: flex; align-items: center;">
                                    <img src="../../../assets/images/icons8-folder.svg" alt="" class="model-tab">
                                    <label (click)="openModel()" for="" style="margin-left: 10px; cursor: pointer;">Models</label>
                                </div>
                            </div>
                        </div>
                        <div style="height: 100px;" *ngIf="isOpenGraph">
                            <div style="height: 25px; margin-top: 10px;">
                                <div style="display: flex; justify-content: flex-end; margin-right: 10px">
                                    <img src="../../../assets/images/icons8-next-page-80.png" alt="" class="model-tab">
                                    <img src="../../../assets/images/icons8-expand-arrow-64.png" alt="" class="model-tab">
                                    <img src="../../../assets/images/icons8-full-screen-96.png" alt="" class="model-tab">
                                    <img src="../../../assets/images/icons8-plus-120.png" alt="" class="model-tab">
                                </div>
                            </div>
                            <div style="margin-top: 10px">
                                <div class="general" (click)="showControls()" style="cursor: pointer;">
                                    <img *ngIf="isShow" src="../../../assets/images/icons8-expand-arrow-200.png" alt="" class="model-tab">
                                    <img *ngIf="!isShow" src="../../../assets/images/icons8-more-than-100.png" alt="" class="model-tab">
                                    <label for="" style="margin-left: 5px;">General</label>
                                </div>
                                <div *ngIf="isShow">
                                    <div style="width: 100%; margin: 20px auto;">
                                        <div class="information" *ngFor="let item of listParams; let i = index">
                                            <label for="" class="label">{{item.name}} </label>
                                            <!-- <input *ngIf="item.type == 'INT'" type="number" value="10" class="input-information"> -->
                                            <input type="number" *ngIf="item.type == 'INT'" [(ngModel)]="item.value" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height: 100px;" *ngIf="isOpenModel" style="height: 100%;">
                            <div style="height: 25px; margin-top: 10px;">
                                <div style="float: left; cursor: pointer;" (click)="createNewFile()">
                                    <img src="../../../assets/images/icons8-plus-120.png" alt="" class="model-tab">
                                </div>
                                <div style="float: right;">
                                    <button class="import-file" (click)="importMedia()">Import File</button>
                                    <input type="file" style="display: none;" id="importedFile" multiple (change)="upload($event)">
                                </div>
                            </div>
                            <div style="margin-top: 10px">
                                <div>
                                    <div style="width: 100%; margin: 20px auto;">
                                        <div class="file-name" *ngFor="let file of listFiles">
                                            <label for="">
                                                <a href="javascript:void(0)"
                                                    [ngStyle]="{'color': file?.id === fileSelected?.id ? 'red': ''}"
                                                    (click)="selectFile(file)">{{file.name}}</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 40%; border-top: solid 1px #555;">
                        <div class="nav nav-tabs">
                            <div class="nav-item nav-item1" [ngStyle]="{'background': isOpenInteractive ? '#fff' : '', 'border-bottom': isOpenInteractive ? 'none' : ''}">
                                <div style="display: flex; align-items: center;">
                                    <img src="../../../assets/images/icons8-chat-100.png" alt="" class="model-tab">
                                    <label (click)="openInteractive()" for="" style="margin-left: 10px; cursor: pointer;">Interactive Console</label>
                                </div>
                            </div>
                            <div class="nav-item nav-item2" [ngStyle]="{'background': isOpenConsole ? '#fff' : '', 'border-bottom': isOpenConsole ? 'none' : ''}">
                                <div style="display: flex; align-items: center;">
                                    <img src="../../../assets/images/icons8-console-96.png" alt="" class="model-tab">
                                    <label (click)="openConsole()" for="" style="margin-left: 10px; cursor: pointer;">Console</label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="isOpenConsole" style="height: 162px; overflow: auto;">
                            gaml>
                            <p *ngFor="let message of messageConsoles">{{message}}</p>
                        </div>
                    </div>
                </div>
                <div *ngIf="isOpenGraph" style="height: 100%; width: 50%; border-left: solid 1px #555;border-right: solid 1px #555;">
                    <div class="nav nav-tabs" style="background:  rgb(204, 204, 204); border-bottom: none;">
                        <div class="nav-item nav-item2" style="background: #fff; width: 13%;">
                            <div style="display: flex; align-items: center;">
                                <img src="../../../assets/images/icons8-rounded-square-96.png" alt="" class="model-tab img-common">
                                <label for="" style="margin-left: 10px;">map</label>
                            </div>
                        </div>
                        <div style="width: 87%; border-bottom: solid 1px #555;">

                        </div>
                    </div>
                    <div style="height: 25px; margin-top: 10px;">
                        <div style="display: flex; justify-content: flex-end; margin-right: 10px; height: 100%;">
                            <div style="width: 14%;">
                                <a href="">
                                    <img src="../../../assets/images/icons8-pause-button-128.png" alt="" class="model-tab">
                                </a>
                                <a href="">
                                    <img src="../../../assets/images/icons8-available-updates-80.png" alt="" class="model-tab">
                                </a>
                            </div>
                            <div style="width: 22%; margin-left: 20px;">
                                <a href="">
                                    <img src="../../../assets/images/icons8-plus-120.png" alt="" class="model-tab">
                                </a>
                                <a href="">
                                    <img src="../../../assets/images/minimize-100.png" alt="" class="model-tab">
                                </a>
                                <a href="">
                                    <img src="../../../assets/images/icons8-minus-80.png" alt="" class="model-tab">
                                </a>
                            </div>
                            <div style="width: 15%;">
                                <a href="">
                                    <img src="../../../assets/images/icons8-slr-camera-64.png" alt="" class="model-tab">
                                </a>
                                <a href="">
                                    <img src="../../../assets/images/icons8-full-screen-96.png" alt="" class="model-tab">
                                </a>
                            </div>
                            <div style="width: 6%;">
                                <a href="">
                                    <img src="../../../assets/images/icons8-new-contact-64.png" alt="" class="model-tab">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="height: 90%; display: flex; justify-content: center;">
                        <img style="object-fit: contain;" src="{{imageUrl}}" alt="" *ngIf="imageUrl" />
                    </div>
                </div>
                <div *ngIf="isOpenModel" style="height: 100%; width: 50%; border-left: solid 1px #555;border-right: solid 1px #555;">
                    <div class="nav nav-tabs" style="background:  rgb(204, 204, 204); border-bottom: none;">
                        <div class="nav-item nav-item2" style="background: #fff; width: 25%;">
                            <div style="display: flex; align-items: center;">
                                <img src="../../../assets/images/icons8-rounded-square-96.png" alt="" class="model-tab img-common">
                                <label *ngIf="fileSelected" for="" style="margin-left: 10px;">{{fileSelected.name}}</label>
                            </div>
                        </div>
                        <div style="width: 75%; border-bottom: solid 1px #555;">

                        </div>
                    </div>
                    <div style="height: 495px;" *ngIf="fileSelected">
                        <div class="save" (click)="saveFile()">
                            <img src="../../../assets/images/icons8-save-64.png" alt="" class="model-tab"> Save
                        </div>
                        <textarea [(ngModel)]="contentFile" style="width: 100%; height: 100%;"></textarea>
                    </div>
                </div>
                <div style="height: 100%; width: 20%;">
                    <div class="nav nav-tabs" style="background:  rgb(204, 204, 204); border-bottom: none;">
                        <div class="nav-item nav-item2" style="background: #fff; width: 30%;">
                            <div style="display: flex; align-items: center;">
                                <img src="../../../assets/images/icons8-rounded-square-96.png" alt="" class="model-tab img-common">
                                <label for="" style="margin-left: 10px;">map</label>
                            </div>
                        </div>
                        <div class="chart">
                            <img style="object-fit: contain;" src="{{chartUrl}}" alt="" *ngIf="chartUrl" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>